/* signup page css */
.box{
    height: 700px;
}
.signup_heading{
    font-family: Lobster Two;
}
.signup_btn{
    width: 500px;
    padding: 6px;
    border-radius: 20px;
    /* background-color: #E30983; */
    background-image: linear-gradient(to left,#E30983,#FF8542);
}
.signup_input{
    border-color: #3D4A64;
    border-radius: 20px;

}

input[type="text"] {
    padding: 6px;
    font-size: 16px;
  }
  
  input[type="text"]::placeholder {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 12px;
    color: gray;
    transition: all 0.3s ease;
    font-size: 16px;
    position: absolute;
  }
  
  input[type="text"]:focus::placeholder,
  input[type="text"]:not(:placeholder-shown)::placeholder {
    top: -2px;
    font-size: 12px;

  }
  

  input[type="email"] {
    padding: 6px;
    font-size: 16px;
  }
  
  input[type="email"]::placeholder {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 12px;
    color: gray;
    transition: all 0.3s ease;
    font-size: 16px;
    position: absolute;
  }
  
  input[type="email"]:focus::placeholder,
  input[type="email"]:not(:placeholder-shown)::placeholder {
    top: -2px;
    font-size: 12px;

  }

  input[type="password"] {
    padding: 6px;
    font-size: 16px;
  }
  
  input[type="password"]::placeholder {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 12px;
    color: gray;
    transition: all 0.3s ease;
    font-size: 16px;
    position: absolute;
  }
  
  input[type="password"]:focus::placeholder,
  input[type="password"]:not(:placeholder-shown)::placeholder {
    top: -2px;
    font-size: 12px;

  }

  @media screen and (max-width: 600px) {
    .signup_input{
      width: 180px;
  }
  .signup_btn{
    width: 200px;
}
  }